body {
  font-family: Papyrus, fantasy;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 20px;
  background: url('gaia.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: -1;
}

h1 {
  margin-bottom: 30px;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* ---------- BLOCK BASE ---------- */
.block {
  width: 350px;
  height: 60px;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- LEFT (SITUATION) ---------- */
#left .block {
  background-color: #ff6666;
  color: black;
  font-size: 22px;
  transition: all 0.25s ease;
}

#left .block.selected {
  background-color: #E0115F;
  box-shadow: 0 0 10px rgba(255, 102, 102, 0.6);
  color: white;
}

#left .block.matched-success {
  color: gray;
  background-color: #2ecc71;
  font-size: 24px;
  box-shadow: 0 0 12px rgba(46, 204, 113, 0.9);
  cursor: default;
}

/* ---------- RIGHT (SOLUTION - FLIP) ---------- */
#right .block {
  perspective: 800px;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.25s;
}

.block.open .inner,
.block.paired .inner {
  transform: rotateY(180deg);
}

#right .block.paired .back {
  background-color:  #39ff14;
  color: lightblue;
  border-color: none;
  font-size: 24px;
  box-shadow: 0 0 12px rgba(46, 204, 113, 0.6);
}

.front, .back {
  position: absolute;
  inset: 0;
  border-radius: 6px;
  border: 2px solid #3399ff;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 6px;
  box-sizing: border-box;
}

.front {
  background-color: #b3d9ff;
  color: rgba(255, 255, 255, 0.9);
}

.back {
  background: white;
  color: #444;
  transform: rotateY(180deg);
}

/* ---------- MESSAGE ---------- */
#message {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}
